<!doctype html>
<html lang="en">
  <head>
    <title>CS4241 Assignment 2</title>
    <meta charset="utf-8">
    <script src="js/main.js"></script>
    <link rel="stylesheet" href="css/main.css">
    

    <link rel="icon" href="data:;base64,iVBORw0KGgo=">
  </head>
  <body>

    <h1>
      Musical Theatre Role Rankings
    </h1>

    <form>
    <ul>
      <li>
      <label for="name">Character name:</label>
      <input type="text" id="name" value="Benjamin Barker">


      </li>
      <li>
        <label for="musical">Musical From:</label>
        <input type="text" id="musical" value="Sweeney Todd" />

      </li>
      
      <li>
        <label for="msg">Song Number:</label>
        <input type="number" id="songs" value="10">

      </li>
    </ul>

      <button type="submit" id="btnSubmit">Submit</button>
    </form>
    

  </body>
</html>
