body {
  background: #f7f3ed;
  color:rgb(18, 18, 18);
  font-family: Georgia, 'Times New Roman', Times, serif;
  padding: 0 2rem;
  margin: 0 auto;
  max-width: 1200px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.goal-tracker {
  max-width: 800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid red;
}

table th {
  background: #c4bdbd;
}

table tr td {
  text-align: center;
}

#head-title {
  width: 20%;
}

#head-author {
  width: 20%;
}

#head-pages {
  width: 10%;
}

#head-started {
  width: 15%;
}

#head-finished {
  width: 15%;
}

#head-status {
  width: 15%;
}

#head-delete {
  width: 5%;
}

dialog {
  width: 300px;
  min-height: fit-content;
}

dialog form {
  display: flex;
  flex-direction: column;
}

.delete-img-wrapper {
  display: flex;
  margin: 4px auto;
  max-width: 2rem;
  max-height: 2rem;
}

img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.form-layout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5rem;
}

.form-row {
  display: flex;
  justify-content: space-between;
}

.form-buttons {
  display: flex;
  justify-content: space-between;
}

h3 {
  margin-bottom: 0.5rem;
  text-align: center;
}

button, .submit-button {
  border: none;
  background-color: #dc143c;
  color: white;
  padding: 0.5rem; 
  font-size: larger;
  border-radius: 0.5rem;
}

button:hover, .submit-button:hover {
  background-color: darkred;
}

#cancel-button {
  background-color: rgb(84, 74, 76);
}

#cancel-button:hover {
  background-color: rgb(27, 24, 24);
}

main {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

#add-book {
  width: fit-content;
}

div p {
  margin: 0;
}